body {
  background: url(./img/fon1.png) no-repeat center center fixed;
  margin: 0;
  padding: 0;
  background-size: cover;
  height: 100vh;
}
h1 {
  color: #e45354;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}
.breed-select {
  display: block;
  margin: 0 auto;
  width: 450px;
  height: 30px;
}

.cat-info {
  margin: 30px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (min-width: 1150px) {
  .cat-info {
    flex-wrap: nowrap;
    max-width: 700px;
  }
}
.cat-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}
@media only screen and (min-width: 860px) {
  .cat-right {
    display: block;
  }
}
.cat-img {
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  max-width: 300px;
}
@media only screen and (min-width: 1150px) {
  .cat-img {
    max-width: 500px;
  }
}
.temperament-span {
  font-weight: bold;
}

.cat-info-img {
  height: auto;
  max-height: 350px;
  width: 400px;
  border-radius: 15px;
  margin-right: 20px;
}

.cat-details {
  max-width: 400px;
}
