body {
  background-image: url(/src/img/7399824.png);
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: 85% 100%;
  background-color: #c9f7c9;
  background-position: top right;
  background-repeat: no-repeat;
}

h1 {
  color: #009d8a;
}
